---
import '@fontsource/fraunces';
import '@fontsource/geist';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<style>
		h1 {
  		font-family: "Fraunces", cursive;

	}

	p {
		font-family: "Geist", cursive;
	}
	</style>
	<body>
		<h1>Astro</h1>
		<p>Hello World</p>
		<a href="/src/pages/about.astro">About</a>
	</body>
</html>
